.header{
    height: var(--navbar-height);
    background-image: linear-gradient(0,#56a2f4, #74d7f5);
}

.header__navbar{
    display: flex;
    justify-content: space-between;
}

.header__navbar-list{
    list-style: none;
    padding-left: 0px;
    margin-top: 5px 0 0 0;

}

.header__navbar-item{
    margin: 0 8px;
    position: relative;
}

.header__navbar-item, .header__navbar-item-link{
    display: inline-block;
    font-size: 1.5 rem;
    color: #4003FC;
    text-decoration: none;
    font-weight: 300;
}

.header__navbar-item:hover, .header__navbar-item-link:hover{
    cursor: pointer;
    color: rgba(255, 255, 255, 2.5);

}

.grid{
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}

.header__navbar-item--strong{
    font-weight: 400;
}

.header__navbar-item--separate::after{
    content: "";
    display: block;
    position: absolute;
    width: 2px;
    height: 15px;
    background-color: #310ff0;
    right: -9px;
    top: 50%;
    transform: translateY(-50%);
}

.auth-form__container{
    padding: 0 32px;
}

.auth-form__header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.auth-form__heading{
    font-size: 2rem;
    font-weight: 400;
}

.auth-form__switch-btn{
    font-size: 1rem;
    color: orangered;
    cursor: pointer;
}

.auth-form__input{
    width: 95%;
    height: 40px;
    margin-bottom: 15px;
    padding: 0 12px;
    
}

.auth-form__input:focus{
    border-color: #666;
}

.auth-form__aside{
    margin-top: 16px;
}

.auth-form__policy-text{
    text-align: center;
}

.auth-form__text-link{
    text-decoration: none;
    color: orangered;
}

.auth-form__controls{
    margin-top: 80px;
    display: flex;
    justify-content: flex-end;
}

.auth-form__controls-back{
    margin-right: 8px;
}

.auth-form__socials-icon{
    font-size: 1.5rem;
     
}

.auth-form__socials--facebook{
    color: white;
    background-color: #3a5a98; 
}

.auth-form__socials--facebook .auth-form__socials-icon{
    color: white;
    margin-right: 3px;
}

.auth-form__socials--google{
    color: white;
    background-color: #FF0100; 
}

.auth-form__socials--google .auth-form__socials-icon{
    color: white;
    margin-right: 3px;
}

.auth-form__help{
    display: flex;
    justify-content: flex-end;
}

.auth-form__help-link{
    font-size: 1rem;
    text-decoration: none;
    color: #32e817;
}

.auth-form__help-separate{
    display: block;
    border-left: 1px solid grey;
    margin: 0 16px;
}

.auth-form__help-forgot{
    color: red;
}

/* header with search */
.header__logo{
   width: 200px; 
}

.header__logo-img{
    width: 150px;
}

.header__with-search{
    display: flex;
    align-items: center;
    height: var((--header-with-search-height));
}

.header__search{
    flex-grow: 1;
    height: 40px;
    background-color: white;
}

.header__cart{
    position:absolute;
    left:1430px;
    right:50px;
    top:100px;

}

.header__cart-icon{
    font-size: 3rem;
    color: white;

}

/* Mobile: Width < 620px */
@media only screen and (max-width: 740px){
    
    .grid__column-8{
        margin-left: 25%;
    }

    .header{
        background-image: linear-gradient(0,#64c126, #36d228);
    }
}
    
@media only screen and (max-width: 1095px) {
    .grid__column-8{
        margin-left: 15%;
    }

    .header{
        background-image: linear-gradient(0,#1ac84c, #1e7b45);
    }
}

@media only screen and (max-width: 1400px) {
    .grid__column-8{
        margin-left: 10%;
    }

    .header{
        background-image: linear-gradient(0,#1d789f, #1fa5d2);
    }
}

@media only screen and (max-width: 1214px){
    .grid__column-8{
        margin-left: 20%;
    }

    .header{
        background-image: linear-gradient(0,#9f1d7a, #d632be);
    }
}